<ion-header translucent>
  <ion-toolbar>

    <ion-buttons slot="start" class="ion-margin-start" (click)="logOut()">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <ion-img src="assets/kroonlogo.png" class="ion-margin-end" slot="start" style="width: 30%"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="{{ cartItem.product.image }}"></ion-img>
  <ion-content>
    <div style="display: flex; justify-content: center; align-items: center;">
      <ion-icon name="remove-circle" (click)="decrementQuantity()" size="large"></ion-icon>
      <h2>{{ quantity }}</h2>
      <ion-icon name="add-circle" (click)="incrementQuantity()" size="large"></ion-icon>
    </div>
    <p style="text-align: center;">{{ cartItem.product.name }}</p>
    <p>{{ cartItem.product.description }}</p>

    <p>{{ cartItem.product.meta_title}}</p>
<!--    <table  >-->
<!--      <tr >-->
<!--        <th>{{ i }}</th>-->
<!--      </tr>-->
<!--    </table>-->
    <ion-list *ngFor="let item of cartItem.product.attribute_groups; let i = index">
      <ion-item *ngFor="let attribute of item.attribute">
        <p >{{ attribute.name}}</p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-content>
