<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>{{ cartItem.exists ?  'Bestelling plaatsen' : 'Product niet gevonden' }}</ion-title>
    <ion-buttons slot="end" class="ion-margin-end">
      <ion-icon name="close-outline" style="zoom: 2.0;" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-grid *ngIf="!cartItem.exists">
      <ion-img height="200" width="200" cache=true *ngIf="imageAsset" src="{{ imageAsset }}" alt=""></ion-img>
    <ion-row class="ion-margin">
      <ion-label class="extra-bold">
        PRODUCT NIET GEVONDEN
      </ion-label>
    </ion-row>
    <ion-row class="ion-margin">
      <ion-label>
       Het gescande product staat niet in onze database. U kunt eventueel een foto maken en aan ons verzenden. Wij nemen dan contact met u op.
      </ion-label>
    </ion-row>
    <ion-row>
      <ion-button expand="full" *ngIf="imageAsset" (click)="send()">Verzenden</ion-button>

    </ion-row>

  </ion-grid>



    <ion-fab *ngIf="!cartItem.exists" vertical="bottom" horizontal="center" slot="fixed">
<!--      <ion-img height="200" cache=true *ngIf="imageAsset" src="{{ imageAsset }}" alt=""></ion-img>-->

      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <ion-grid *ngIf="cartItem.exists">
    <ion-row class="ion-justify-content-center">
      <ion-img height="200" cache=true src="{{ cartItem.product.image }}" alt=""></ion-img>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin">
      <!-- <div class="ion-text-center"> -->
      <ion-button color="primary" (click)="decrementQuantity()">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button>
      <h2 class="ion-margin">{{ quantity }}</h2>
      <ion-button color="primary" (click)="incrementQuantity()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <!-- </div> -->
    </ion-row>
    <ion-row class="ion-margin">
      <ion-label class="extra-bold">
        {{ cartItem && cartItem.product && (cartItem.product.meta_title || cartItem.product.name) }}</ion-label>
    </ion-row>
    <ion-row class="ion-margin">
      <ion-label >
        {{ cartItem && cartItem.product && (cartItem.product.meta_description || cartItem.product.description) }}</ion-label>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="cartItem.exists">
  <ion-toolbar>
    <ion-button icon-start expand="full" class="ion-activatable ripple-parent" slot="start" color="dark"
      (click)="addItemToCart()" style="width: 100%">
      <ion-icon name="cart" style="margin-right: 10px"></ion-icon>
      Toevoegen
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
  </ion-toolbar>
</ion-footer>
