<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="end" class="ion-margin-end" (click)="logOut()">
      <img src="assets/logout.png" width="27px" height="27px" alt="">
    </ion-buttons>
    <ion-img src="assets/kroonlogo.png" class="ion-margin-start" slot="start" style="width: 30%"></ion-img>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title class="ion-margin-start" slot="start">Gescande artikelen</ion-title>
    <ion-buttons slot="end" class="ion-margin-end">
      <img src="assets/androidsearch.png" width="27px" height="27px" (click)="showSearch = !showSearch">
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar color="light" *ngIf="showSearch"> -->
    <ion-searchbar
      *ngIf="showSearch"
      clearInput placeholder="Zoeken..." type="search" animated=true debounce=500 pattern="search" [(ngModel)]="search" (input)="onSearchChange($event)" (ionClear)="onInputClear($event)"></ion-searchbar>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content fullscreen>
  <p *ngIf="cartItems.length === 0" style="text-align: center;">Scan een product om hem toe te voegen aan je winkelwagen</p>

  <ion-list *ngFor="let item of cartItems | filter:filterText">

    <ion-item-sliding>
      <ion-item lines="full" (click)="show(item)">
        <ion-thumbnail slot="start">
          <img src="{{ item.product.image }}">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h3>{{ item.product.name }}</h3>
          <p class="smaller">Artikelnummer: {{ item.product.model }}</p>
          <p class="smaller">Verpakt per: {{ (item.product.jan ? item.product.jan : "1") }}</p>
        </ion-label>
        <ion-button fill="outline" slot="end">{{ item.quantity }}</ion-button>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon size="small" slot="icon-only" name="trash" (click)="delete(item)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button icon-start expand="full" class="ion-activatable ripple-parent" slot="start" color="dark"
      (click)="presentOrderModal()" style="width: 80%">
      <ion-icon name="cart" style="margin-right: 10px"></ion-icon>
      Bestellen
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-button icon-start expand="full" class="ion-activatable ripple-parent" slot="start" color="primary"
      (click)="openBarCodeScanner()" style="width: 20%">
      <ion-icon name="barcode-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
  </ion-toolbar>
</ion-footer>
